.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;

  @include mobile {
    width: 100%;
  }
}

.submitBtn {
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid $blue-2;
  color: $white-1;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
