.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-1;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;

  &:disabled {
    background-color: $black-3;
  }

  @include hover {
    background-color: $blue-2;
  }
}
