.header {
  background-color: $white-1;
  border-radius: 10px;
  padding: 26px 0;
  position: relative;
}

.title {
  font-family: "Cairo", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: $black-2;
}
