.header {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include mobile {
    flex-direction: column;
  }
}

.title {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: $black-3;
}

.btns {
  display: flex;
  gap: 8px;
}

.updateProductsBtn {
  border: 1px solid $grey-17;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  @include hover {
    border-color: $blue-1;
    background-color: $blue-1;

    svg path {
      fill: $white-1;
    }
  }
}

.addProductBtn {
  height: 42px;
  padding: 0 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 6px;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $grey-14;
}
