$white-1: #ffffff;

$red-1: #f11010;

$black-1: #000000;
$black-2: #202020;
$black-3: #333333;
$black-4: #222222;
$black-5: #232323;
$black-6: #161919;
$black-7: #202020;
$black-8: #404040;

$grey-1: #e0e0e0;
$grey-2: #9c9c9c;
$grey-3: #6c6c6c;
$grey-4: #ededed;
$grey-5: #b2b3b9;
$grey-6: #999999;
$grey-7: #c4c4c4;
$grey-8: #e2e2e2;
$grey-9: #c9c9c9;
$grey-10: #515161;
$grey-11: #969b9f;
$grey-12: #cacaca;
$grey-13: #ebebeb;
$grey-14: #ebf3ea;
$grey-14: #f3f3f3;
$grey-15: #f6f6f6;
$grey-16: #f9f9f9;
$grey-17: #ececeb;

$blue-1: #242edb;
$blue-2: #367aff;
$blue-3: #797fea;
$blue-4: #3c538e;
